@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Barlow';
  src: url('./assets/font/BarlowSemiCondensed-Regular.ttf');
}

@font-face {
  font-family: 'BarlowExtraBold';
  src: url('./assets/font/BarlowSemiCondensed-ExtraBold.ttf');
}

@layer base {
  :root {
    --color-paper: 230deg 89% 62%;
    --color-paper2: 230deg 89% 65%;
    --color-scissors: 39deg 89% 49%;
    --color-scissors2: 40deg 84% 53%;
    --color-rock: 349deg 71% 52%;
    --color-rock2: 349deg 71% 52%;
    --color-background: 214deg 47% 23%;
    --color-background2: 237deg 49% 15%;
  }
}
